<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.social.mapper.RecFeedbackMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO t_rec_feedback
        (id, user_id, article_id, scene, action, create_time)
        VALUES
        <foreach collection="list" item="i" separator=",">
            (#{i.id}, #{i.userId}, #{i.articleId}, #{i.scene}, #{i.action}, #{i.createTime})
        </foreach>
    </insert>

</mapper>
